<%- include("../partials/header") %> 


<div class="container">
    <div class="text-center">
        <h1>Add New Comment to <%= campground.name %> </h1>
    </div>
    
    <div class="mx-auto text-center">        
        <form class="mx-auto" action="/campgrounds/<%= campground._id %>/comments " method="POST">
            <div class="form-group row">                
                <div class="col-sm-4 offset-4">
                    <input class="form-control" type="text" name="comment[text]" placeholder="text">
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit!</button>
            <a class="btn btn-secondary"  href="/campgrounds">Go Back</a>
        </form>      
    </div>
</div>


<%- include("../partials/footer") %> 